<app-nav-bar></app-nav-bar>
<div class="container flex">
    <h1 class="wt-800 heading pre-heading">Dashify</h1>
    <h1 class="wt-1000 main-heading heading">Your Ultimate <br> Dashboard Solution</h1>
    <h2 class="wt-600 heading text-center pass-through sub-text">Seamless Insights and Control for<br>  Smarter Decision-Making</h2>
    <div class="btn-wrap">
        <button class="primary-btn" (click)="login()">Login</button>
        <button class="secondary-btn">Services</button>
    </div>
</div>