<app-nav-bar></app-nav-bar>
<div class="container flex">
  <div class="box flex">
    <h3 class="wt-700">Login</h3>
    <!-- <div class="form-wrap">
            <label for="name" class="form-label text-nowrap wt-500">Name</label>
            <input type="text" class="form-control" id="name">
        </div> -->
    <form [formGroup]="loginForm" class="form-wrap flex" (ngSubmit)="verifyLogin()">
      <div class="input-wrap">
        <label for="email" class="form-label text-nowrap wt-500"
          >Email ID</label
        >
        <input autocomplete="email"
          type="email"
          [class.is-invalid]="
            loginForm.get('email').invalid &&
            (loginForm.get('email').touched ||
              loginForm.get('email').dirty ||
              !isValid)
          "
          [class.is-valid]="
            !loginForm.get('email').invalid &&
            (loginForm.get('email').touched ||
              loginForm.get('email').dirty ||
              isValid)
          "
          formControlName="email"
          class="form-control input-control"
          id="email"
        />
        <div
          *ngIf="
            loginForm.get('email').invalid &&
            (loginForm.get('email').touched ||
              loginForm.get('email').dirty ||
              !isValid)
          "
          
        >
          <p
            *ngIf="loginForm.get('email').hasError('required')"
            class="text-danger error"
          >
            Enter Email
          </p>
          <p
            *ngIf="loginForm.get('email').errors?.['email']"
            class="text-danger error"
          >
            Enter Valid Email
          </p>
        </div>
      </div>
      <div class="input-wrap">
        <label for="password" class="form-label text-nowrap wt-500"
          >Password</label
        >
        <input autocomplete="current-password"
          type="password" formControlName="password"
          class="form-control input-control"
          id="password" [class.is-invalid]="
          loginForm.get('password').invalid &&
          (loginForm.get('password').touched ||
            loginForm.get('password').dirty ||
            !isValid)
        "
        [class.is-valid]="
          !loginForm.get('password').invalid &&
          (loginForm.get('password').touched ||
            loginForm.get('password').dirty ||
            isValid)
        "
        />
        <div
          *ngIf="
            loginForm.get('password').invalid &&
            (loginForm.get('password').touched ||
              loginForm.get('password').dirty ||
              !isValid)
          "
         
        >
          <p
            *ngIf="loginForm.get('password').hasError('required')"
            class="text-danger error"
          >
            Enter Password
          </p>
          <p
            *ngIf="loginForm.get('password').hasError('minlength')"
            class="text-danger error"
          >
            Enter minimum 8 characters
          </p>
      </div>
      </div>
      <button type="submit" class="primary-btn">Login</button>
    </form>
    <hr />
    <a (click)="register()" class="btn btn-link text-decoration-none">Register</a>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>